{{ define "content" }}
<article>
  {{ partial "meta.html" . }}
  <div class="caption">
    <header>
      <h2>{{ .Title }}</h2>

      {{ with .Params.tags }}
      <p class="tags">
      <strong>Tagged</strong>
      {{ delimit (apply . "partial" "tags/link" ".") ", " }}
      </p>
      {{ end }}

    </header>
    {{ .Content }}
  </div>
</article>
{{ if .Site.Params.remark42SiteID }}
  <div id="remark42"></div>
{{ end }}
{{ end }}

{{ define "footer" }}
{{ if .Site.Params.remark42SiteID }}
  {{ .Scratch.Set "remark42_component" (slice "embed" "counter") }}
  {{ partial "remark.html" . }}
{{ end }}
{{ end }}
